.passeios {

    background-color: var(--azul-background);
    padding: 1em 0;

    &__descricao {

        padding: 1em;
        text-align: center;

        h2 {
            font-size: 20px;
            margin-bottom: 1em;
        }
        h3 {
            
            font-size: 30px;
            font-weight: 600;
        }
    }
   
}

@media screen and (min-width: 1024px) {
    .passeios {
        
        &__descricao {
            h2{
                font-size: 30px;
            }
            h3{
                font-size: 40px;
            }
        }
        &__cards {
            display: flex;
            flex-wrap: wrap;
        }
    }
}