.sobre {
    text-align: center;
    padding-top: 2em;

    p {
        margin: 2em 1em;
    }

    button {
        margin: 1em 0;
    }
}

@media screen and (min-width: 1024px) {
    .sobre {
        margin: 4em 5em;

        p {
            font-size: 30px;
        }
    }
}