.erro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4em 8em;
    font-family: var(--fonte-principal);

    img {
        width: 200px;
    
    }

    h1 {
        
        font-size: 30px;
    }

}


