.collapse {

    button {
        background-color: var(--laranja);
        color: var(--branco);
        font-family: var(--fonte-secundaria);
        font-weight: 500;
        border: none;
        width: 300px;
        height: 45px;
        border-radius: 8px;
    }
}